h1{
    float: left;width: 50%;
    font-size: 3em;font-weight: bold;
    font-family: "Bernard MT Condensed";
    padding: 0;margin: 0;
}
#welcome{
    padding-bottom: 0;margin-bottom: 0;
    padding-top: 0;margin-top: 0;
    background-color: black;
    color: white;
    font-size:18px;font-family: "Lucida Handwriting";
    line-height: 1.5em;
}
#search a{
    text-decoration: none;
    color: white;
}
#welcome .a1{
    color: white;text-decoration: none;padding-left:0.5em;padding-right: 0.5em;
}
#welcome .a2{
    color: white;text-decoration: none;padding-right: 0.5em;padding-left: 0.5em;
    float: right;
}
#welcome a:hover{
    color: blue;
}
#nav a{
    margin-left: 2em;margin-right: 3em;
    font-size: 24px;font-family: 微软雅黑;
    text-decoration: none;color: black;

}
#nav{
    margin-top: 3em;
    clear: both;
    background-color: #f6f6f6;
    line-height: 3em;
}
#search {
    width: 78px;
    height:32px;
    float:right;
    background:black;
    color:white;
    text-align:center;
    line-height:32px;
    cursor:pointer;
}
.search{
    float: right;
}
 #box {
    width:380px;
    margin:30px auto;
    font-family:'Microsoft YaHei';
    font-size:14px;
}
/*header input {*/
    /*width:260px;*/
    /*border:1px solid #e2e2e2;*/
    /*height:30px;*/
    /*float:left;*/
    /*background-repeat:no-repeat;*/
    /*background-size:25px;*/
    /*background-position:5px center;*/
    /*padding: 0  0 0 40px;*/
/*}*/