/*html{font-size:12px;}*/
/*fieldset{width:520px; margin: 0 auto;}*/
/*legend{font-weight:bold; font-size:14px;}*/
/*label{float:left; width:70px; margin-left:10px;}*/
/*.left{margin-left:80px;}*/
/*.input{width:150px;}*/
/*span{color: #666666;}*/
.button{
    font-size: 18px;
    font-family: 微软雅黑;
    width: 120px;
    padding-left: 5px;
    border: 1px solid #2576A8;
    background: top,#66B5E6;
    box-shadow: 0 1px 2px #B8DCF1 inset, 0 -1px 0 #316F96 inset;
    color: #fff;
    text-shadow: 1px 1px 0.5px #22629B;
}
#code,#code2{
    font-family: Arial, 宋体;
    font-style: italic;
    color: green;
    border: 0;
    padding: 2px 3px;
    letter-spacing: 3px;
    font-weight: bolder;
}
.msg.onSuccess{
    font-size: 12px;
}
.msg.onError{
    color: red;
    font-size: 12px;
}
