body{
    padding-left: 5%;padding-right: 5%;
}
#p1{
    font-size: 28px;
}
#p2{
    float: right;
    display: inline-block;
}
table{
    padding-top: 0.5em;
    width: 100%;
    border-collapse: separate;   border-spacing: 2px;
}
table tr td{
    background-color: #fdfddd;
    border-left: solid 1em white;
    border-right: solid 1em white;
    border-top: solid 5px white;
}
table tr td img{
    width: 100%;
    height: 300px;
    float: left;
    padding: 5% 5% 5% 5%;
}
#table tr td p{
    float: left;font-weight: bold;
    font-size: 1em;font-family: "Lucida Calligraphy";
}
#table tr td span{
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 微软雅黑;
}
#table button{
    height: 35px;width: 100px;
    background-color: #99ccff;font-size: 16px;
    margin-bottom: 0.5em;margin-top: 0.5em;
    font-family: 微软雅黑;
    border: 1px solid #2576A8;
    box-shadow: 0 1px 2px #B8DCF1 inset, 0 -1px 0 #316F96 inset;
}
button a{
    text-decoration: none;
    color: black;
}
.btn1{
    margin-left: 20%;
    float: left;
}
.btn2{
    float: right;
    margin-right: 20%;
}
#div{
    text-align: center;
    margin-top: 15px;
    clear: both;
}
#div a{
    text-decoration: none;
    border: 1px solid #66B5E6;
    padding: 5px 15px;
    margin: 1px 1px;
    color: #767675;
    cursor: pointer;
}
#div a:hover{
    color: red;
}
#div span{
    text-decoration: none;
    border: 1px solid #66B5E6;
    padding: 5px 15px;
    margin: 1px 1px;
    color: #767675;
    cursor: pointer;
}